@use '/src/shared/styles/variables.scss' as *;

.accordion {
  border: 1px solid #c1c1c1;
  margin: 1rem 0;
  padding: 0.5rem;
}

.summary {
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  list-style: none;
  outline: none;

  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &::-webkit-details-marker {
    display: none;
  }
}

.content {
  padding: 0.5rem 1rem;
  animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
