@use '/src/shared/styles/variables.scss' as *;

.footer {
  border-top: 1px solid $button-primary;

  margin: 24px 0;
  padding: 24px 0;
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      margin: 0;
      line-height: 1.4;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copy {
    font-size: 12px;
    color: black;
  }
}
