@use '/src/shared/styles/variables.scss' as *;

.dish {
  display: flex;
  flex-direction: column;

  gap: 10px;

  cursor: pointer;

  border: 1px solid #ccc;

  height: 420px;

  justify-content: space-between;

  &__description {
    text-align: center;
  }

  &__imageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s ease;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
}
