@use '/src/shared/styles/variables.scss' as *;

.link {
  text-decoration: none;
  font-weight: 700;
  color: $button-primary;
  transition:
    color 0.2s ease,
    opacity 0.2s ease;

  &.underline {
    text-decoration: underline;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// Размеры текста
.s {
  font-size: 12px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 24px;
}
